# Create schema --> for index stock in MySQL using Python

In [1]:
import sqlalchemy
import pymysql
import sqlite3
import ta

import numpy as np 
import pandas as pd 
import datetime as dt 
import yfinance as yf
from pandas_datareader import data as pdr

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
indices = ['Nifty50']

# create schema for Nifty50

In [4]:
def schema_creator(index):
    engine = sqlalchemy.create_engine('mysql://root:zjes930338@localhost:3306/')
    engine.execute( sqlalchemy.schema.CreateSchema(index) )

In [5]:
for index in indices : 
    schema_creator(index)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'Nifty50'; database exists")
[SQL: CREATE SCHEMA `Nifty50`]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [6]:
wiki = 'https://en.wikipedia.org/wiki/'

nifty = pd.read_html(wiki+str("Nifty_50"))[1].Symbol.to_list()
nifty[0:5]

['ADANIPORTS.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS']

In [7]:
def get_data(tickerlist):
    data = []
    for i in tickerlist:
        data.append( yf.download(i).reset_index() )
    return data

In [8]:
nifty_df = get_data(nifty)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
print( nifty[0] )
print( nifty_df[0] )

ADANIPORTS.NS
           Date        Open        High         Low       Close   Adj Close  \
0    2007-11-27  154.000000  207.000000  154.000000  191.800003  178.919861
1    2007-11-28  194.000000  197.800003  174.929993  177.000000  165.113739
2    2007-11-29  181.000000  182.800003  168.460007  177.399994  165.486893
3    2007-11-30  178.000000  191.399994  178.000000  185.800003  173.322784
4    2007-12-03  187.949997  198.860001  184.399994  196.000000  182.837845
...         ...         ...         ...         ...         ...         ...
3311 2021-05-21  772.000000  775.250000  766.650024  769.200012  769.200012
3312 2021-05-24  769.700012  779.900024  746.599976  766.549988  766.549988
3313 2021-05-25  773.000000  776.700012  759.000000  764.000000  764.000000
3314 2021-05-26  767.849976  769.900024  757.000000  758.299988  758.299988
3315 2021-05-27  758.299988  765.000000  758.299988  762.500000  762.500000

        Volume
0     27262365
1     21958915
2     25616715
3     23047035
4     14578850
...        ...
3311   5274817
3312   8354397
3313   4730725
3314   7375242
3315   1268831

[3316 rows x 7 columns]

In [10]:
engine = sqlalchemy.create_engine('mysql://root:zjes930338@localhost:3306/'+str("Nifty50"))
nifty_df[0].to_sql(nifty[0],engine,if_exists='replace')

In [11]:
def TO_MySQL(schema,dataframe,tabel_name):
    engine = sqlalchemy.create_engine('mysql://root:zjes930338@localhost:3306/'+str(schema))
    for df,name in zip(dataframe,tabel_name):
        try:
            df.to_sql(name,engine)
            print("Succesfully upload the Data "+str(name))
        except:
            df.to_sql(name,engine,if_exists='replace')
            print("Succesfully update the Data "+str(name))

In [12]:
TO_MySQL(schema='Nifty50',dataframe=nifty_df,tabel_name=nifty)

Succesfully update the Data ADANIPORTS.NS
Succesfully update the Data ASIANPAINT.NS
Succesfully update the Data AXISBANK.NS
Succesfully update the Data BAJAJ-AUTO.NS
Succesfully update the Data BAJFINANCE.NS
Succesfully update the Data BAJAJFINSV.NS
Succesfully update the Data BHARTIARTL.NS
Succesfully update the Data BPCL.NS
Succesfully update the Data BRITANNIA.NS
Succesfully update the Data CIPLA.NS
Succesfully update the Data COALINDIA.NS
Succesfully update the Data DIVISLAB.NS
Succesfully update the Data DRREDDY.NS
Succesfully update the Data EICHERMOT.NS
Succesfully update the Data GRASIM.NS
Succesfully update the Data HCLTECH.NS
Succesfully update the Data HDFC.NS
Succesfully update the Data HDFCBANK.NS
Succesfully update the Data HDFCLIFE.NS
Succesfully update the Data HEROMOTOCO.NS
Succesfully update the Data HINDALCO.NS
Succesfully update the Data HINDUNILVR.NS
Succesfully update the Data ICICIBANK.NS
Succesfully update the Data INDUSINDBK.NS
Succesfully update the Data INFY.NS
Succesfully update the Data IOC.NS
Succesfully update the Data ITC.NS
Succesfully update the Data JSWSTEEL.NS
Succesfully update the Data KOTAKBANK.NS
Succesfully update the Data LT.NS
Succesfully update the Data M&M.NS
Succesfully update the Data MARUTI.NS
Succesfully update the Data NESTLEIND.NS
Succesfully update the Data NTPC.NS
Succesfully update the Data ONGC.NS
Succesfully update the Data POWERGRID.NS
Succesfully update the Data RELIANCE.NS
Succesfully update the Data SBIN.NS
Succesfully update the Data SBILIFE.NS
Succesfully update the Data SHREECEM.NS
Succesfully update the Data SUNPHARMA.NS
Succesfully update the Data TATAMOTORS.NS
Succesfully update the Data TATASTEEL.NS
Succesfully update the Data TCS.NS
Succesfully update the Data TATACONSUM.NS
Succesfully update the Data TECHM.NS
Succesfully update the Data TITAN.NS
Succesfully update the Data ULTRACEMCO.NS
Succesfully update the Data UPL.NS
Succesfully update the Data WIPRO.NS

In [13]:
pd.read_sql('ITC.NS','mysql://root:zjes930338@localhost:3306/Nifty50',index_col=0)

,index,Date,Open,High,Low,Close,Adj Close,Volume
0,0,1996-01-01,5.550000,5.600000,5.533333,5.583333,3.633695,985500
1,1,1996-01-02,5.466666,5.566666,5.288888,5.372222,3.496303,7470000
2,2,1996-01-03,5.133333,5.254444,5.101111,5.200000,3.384218,15160500
3,3,1996-01-04,5.200000,5.332222,5.144444,5.297777,3.447852,12397500
4,4,1996-01-05,5.297777,5.277777,5.188888,5.202222,3.385664,5008500
...,...,...,...,...,...,...,...,...
6379,6379,2021-05-21,207.600006,209.850006,207.399994,209.050003,209.050003,22638020
6380,6380,2021-05-24,209.500000,212.050003,207.750000,211.500000,211.500000,28865798
6381,6381,2021-05-25,213.000000,213.399994,210.250000,210.899994,210.899994,25334878
6382,6382,2021-05-26,211.800003,212.449997,210.300003,210.600006,210.600006,17576137
6383,6383,2021-05-27,211.000000,212.600006,210.300003,212.600006,212.600006,5634766