In [1]:
import sqlalchemy
import sqlite3

import pandas as pd
import yfinance as yf 
import datetime as dt 
from pandas_datareader import data as pdr

In [2]:
wiki = 'https://en.wikipedia.org/wiki/'

In [3]:
tickersSensex = pd.read_html(wiki+'BSE_SENSEX')[1].Symbol.to_list()
tickersDOW = pd.read_html(wiki+'Dow_Jones_Industrial_Average')[1].Symbol.to_list()

In [4]:
def get_data(tickerlist):
    data = []
    for i in tickerlist:
        data.append( yf.download(i).reset_index() )
    return data

In [5]:
india,US = get_data(tickerlist=tickersSensex) , get_data(tickerlist=tickersDOW)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
def createengine(name):
    engine = sqlalchemy.create_engine('sqlite:///'+name)
    return engine

In [7]:
USengine = createengine(name='DowJones')
connection = sqlite3.connect('DowJones.db')

In [8]:
def TOSQL(frames,symbols,engine):
    """
    frames    -->  US
    tickersDOW --> Symbol
    """
    for frame,symbol in zip(frames,symbols):
        try:
            frame.to_sql(symbol,engine,index=False)
            print("successfully imported "+str(symbol))
        except:
            frame.to_sql(str(symbol),engine,if_exists='replace',index=False)
            print("successfully update  "+str(symbol))

In [9]:
TOSQL(frames=US,symbols=tickersDOW,engine='DowJones.db')

successfully update  MMM
successfully update  AXP
successfully update  AMGN
successfully update  AAPL
successfully update  BA
successfully update  CAT
successfully update  CVX
successfully update  CSCO
successfully update  KO
successfully update  DOW
successfully update  GS
successfully update  HD
successfully update  HON
successfully update  IBM
successfully update  INTC
successfully update  JNJ
successfully update  JPM
successfully update  MCD
successfully update  MRK
successfully update  MSFT
successfully update  NKE
successfully update  PG
successfully update  CRM
successfully update  TRV
successfully update  UNH
successfully update  VZ
successfully update  V
successfully update  WBA
successfully update  WMT
successfully update  DIS

In [10]:
pd.read_sql('BA',USengine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1962-01-02,0.837449,0.837449,0.823045,0.823045,0.190931,352350
1,1962-01-03,0.835391,0.851852,0.835391,0.839506,0.194749,710775
2,1962-01-04,0.839506,0.853909,0.831276,0.831276,0.192840,911250
3,1962-01-05,0.831276,0.835391,0.792181,0.814815,0.189022,880875
4,1962-01-08,0.814815,0.829218,0.804527,0.816872,0.189499,473850
...,...,...,...,...,...,...,...
14947,2021-05-19,223.179993,225.119995,220.279999,224.419998,224.419998,13162700
14948,2021-05-20,225.130005,228.440002,223.770004,227.649994,227.649994,9218900
14949,2021-05-21,232.899994,236.300003,231.389999,234.820007,234.820007,16350200
14950,2021-05-24,235.139999,238.500000,232.600006,237.440002,237.440002,10106000
14951,2021-05-25,240.000000,243.779999,239.229996,240.740005,240.740005,12892300