In [3]:
USE SQL_Tutorial
GO

 \*\*\*Built Company DataBase \*\*\*

\- employee   

\- branch

\- client

\- workwith

In [5]:
CREATE TABLE employee(
	emp_id INT PRIMARY KEY,
    name VARCHAR(20),
	birth_date DATE,
    sex VARCHAR(5),
    salary INT,
    branch_id INT,
    sup_id INT
);


CREATE TABLE branch(
	branch_id INT PRIMARY KEY,
    branch_name VARCHAR(20),
    manager_id INT,
);


CREATE TABLE client(
	client_id INT PRIMARY KEY,
    client_name VARCHAR(20),
    phone VARCHAR(20)
)

CREATE TABLE works_with(
	emp_id INT,
    client_id INT,
    total_sales INT,
    PRIMARY KEY (emp_id,client_id)
)

In [8]:
SELECT * FROM employee
SELECT * FROM branch
SELECT * FROM client
SELECT * FROM works_with

Insert Data Into 4 Tables

In [10]:
INSERT INTO branch VALUES(1,'R&D',NULL);
INSERT INTO branch VALUES(2,'Operation',NULL);
INSERT INTO branch VALUES(3,'Information',NULL);

INSERT INTO employee VALUES(206,'Yellow','1998-10-08','F',50000,1,NULL);  -- 發先沒有 branch_id = 1 的資料 (have to insert branch data first with manager_id is null)
INSERT INTO employee VALUES(207,'Green','1995-09-16','F',29000,2,206);
INSERT INTO employee VALUES(208,'Black','2000-05-08','F',35000,3,206);
INSERT INTO employee VALUES(209,'White','1997-04-12','F',39000,3,207);
INSERT INTO employee VALUES(210,'Blue','1928-11-10','F',84000,1,207);

UPDATE branch
SET manager_id = 206
WHERE branch_id = 1;

UPDATE branch
SET manager_id = 207
WHERE branch_id = 2;

UPDATE branch
SET manager_id = 208
WHERE branch_id = 3;

INSERT INTO client VALUES(400,'Doggie','98456');
INSERT INTO client VALUES(401,'Cattie','89456');
INSERT INTO client VALUES(402,'Latte','75456');
INSERT INTO client VALUES(403,'Ruru','75456');
INSERT INTO client VALUES(404,'Mimi','13456');

INSERT INTO works_with VALUES(206,400,70000);
INSERT INTO works_with VALUES(207,401,24000);
INSERT INTO works_with VALUES(208,402,9800);
INSERT INTO works_with VALUES(208,403,24000);
INSERT INTO works_with VALUES(210,404,74560);

In [11]:
SELECT * FROM employee
SELECT * FROM branch
SELECT * FROM client
SELECT * FROM works_with

emp_id,name,birth_date,sex,salary,branch_id,sup_id
206,Yellow,1998-10-08,F,50000,1,NULL
207,Green,1995-09-16,F,29000,2,206
208,Black,2000-05-08,F,35000,3,206
209,White,1997-04-12,F,39000,3,207
210,Blue,1928-11-10,F,84000,1,207

branch_id,branch_name,manager_id
1,R&D,206
2,Operation,207
3,Information,208

client_id,client_name,phone
400,Doggie,98456
401,Cattie,89456
402,Latte,75456
403,Ruru,75456
404,Mimi,13456

emp_id,client_id,total_sales
206,400,70000
207,401,24000
208,402,9800
208,403,24000
210,404,74560