In [5]:
USE SQL_Tutorial
GO

In [2]:
DROP TABLE student_table 

CREATE TABLE student_table(
	student_id INT,
    name VARCHAR(20) NOT NULL,
    major VARCHAR(20) DEFAULT '歷史',
    PRIMARY KEY(student_id)
)

In [3]:
SELECT * FROM student_table;

In [4]:
INSERT INTO student_table VALUES(1,'white' ,'history');
INSERT INTO student_table VALUES(2,'black' , 'english');
INSERT INTO student_table VALUES(3,'yellow',NULL );

In [5]:
SELECT * FROM student_table;

student_id,name,major
1,white,history
2,black,english
3,yellow,NULL

In [6]:
SELECT * FROM student_table
ORDER BY student_id DESC

student_id,name,major
3,yellow,NULL
2,black,english
1,white,history