In [37]:
USE SQL_Tutorial
GO

In [38]:
SELECT * FROM employee
SELECT * FROM branch
SELECT * FROM client
SELECT * FROM works_with

emp_id,name,birth_date,sex,salary,branch_id,sup_id
206,Yellow,1998-10-08,F,50000,1,NULL
207,Green,1995-09-16,F,29000,2,206
208,Black,2000-05-08,F,35000,3,206
209,White,1997-04-12,F,39000,3,207
210,Blue,1928-11-10,F,84000,1,207

branch_id,branch_name,manager_id
1,R&D,206
2,Operation,207
3,Information,208

client_id,client_name,phone
400,Doggie,98456
401,Cattie,89456
402,Latte,75456
403,Ruru,75456
404,Mimi,13456

emp_id,client_id,total_sales
206,400,70000
207,401,24000
208,402,9800
208,403,24000
210,404,74560

## \- JOIN Function

If we want to know which sales have important client (total\_sales\>70,000)

In [39]:
SELECT * FROM 
(
    SELECT * FROM  employee
)t
LEFT JOIN 
(
SELECT * FROM works_with
)tt
ON t.emp_id = tt.emp_id
WHERE total_sales >= 70000
ORDER BY t.emp_id DESC -- Important thing here that if we want to order a column that exist in two table, please make sure to identify which table you are refering to.

emp_id,name,birth_date,sex,salary,branch_id,sup_id,emp_id,client_id,total_sales
210,Blue,1928-11-10,F,84000,1,207,210,404,74560
206,Yellow,1998-10-08,F,50000,1,NULL,206,400,70000

## \- GROUP BY Function

If we want to know average branchÂ  salary

In [40]:
select branch_id, 
       COUNT(emp_id) as '#employees', 
       AVG(salary) as 'Average Branch Salary' 
FROM employee
GROUP BY branch_id
ORDER BY branch_id

branch_id,#employees,Average Branch Salary
1,2,67000
2,1,29000
3,2,37000

## \- PIVOT TABLE

Pivot table is extremly useful when we deal with pannel data.

Here we can select an column data and make the specific column data to be our rebuild columns.

In [41]:
select * from 
(
    select branch_id, AVG(salary) as 'Average_Branch_Salary' FROM employee
    GROUP BY branch_id
)t
PIVOT
(
    max(Average_Branch_Salary) for branch_id in ([1],
                                                 [2],
                                                 [3])
)pt

1,2,3
67000,29000,37000

## \- Outer Apply

select the top 1 salary employee data in each branch.

In [42]:
SELECT * FROM employee
SELECT * FROM branch

emp_id,name,birth_date,sex,salary,branch_id,sup_id
206,Yellow,1998-10-08,F,50000,1,NULL
207,Green,1995-09-16,F,29000,2,206
208,Black,2000-05-08,F,35000,3,206
209,White,1997-04-12,F,39000,3,207
210,Blue,1928-11-10,F,84000,1,207

branch_id,branch_name,manager_id
1,R&D,206
2,Operation,207
3,Information,208

In [43]:
select pa.branch_id, branch_name, emp_id, salary from branch
OUTER APPLY(
    select top 1 * from employee
    where employee.branch_id = branch.branch_id
    ORDER BY salary DESC
)pa

branch_id,branch_name,emp_id,salary
1,R&D,210,84000
2,Operation,207,29000
3,Information,209,39000